
# 忽略所有層級下的 __pycache__ 資料夾
**/__pycache__/

# 忽略所有 .pyc, .pyo, .pyd 編譯檔
*.py[cod]

# 忽略特定的 pytest 或其他快取 (可選)
.pytest_cache/
.cache/

completed_levels.json
data/player_unlocked_cats.json
data/player_resources.json
data/first_clear_rewards.json
data/wallet_level.json